{% extends "layout.html" %}
{% block title %}Parameters for LaTeX generation{% endblock %}
{% block content %}
<main>
    <h1 class="title">Help</h1>
    <p>If you need help about this web application, you can find some help on the project's <a href="https://github.com/Takishima/aluso-labels#epfl-alumni-eastern-switzerland-labels-generator" target="_blank">GitHub page</a>.</p>

    <p>If you found a bug or have a suggestion for some improvement, please submit a new issue <a href="https://github.com/Takishima/aluso-labels/issues" target="_blank">here</a>.</p>
</main>
{% endblock %}
