<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#ff69b4">
        <meta name="description" content="🙂">
        <meta name="color-scheme" content="dark light">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
            &copy; Copyright 2023 by Damien Nguyen</a>.
            {% endblock %}
        </div>
    </body>
</html>
