{% extends "layout.html" %}
{% block head %}
<title>Parameters for LaTeX generation</title>
<style>
 table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
 }

 td, th {
     border: 1px solid #aaaaaa;
     text-align: left;
     padding: 8px;
 }

 tr:nth-child(even) {
     background-color: #aaaaaa;
 }
 @media
 only screen and (max-width: 800px) {
     /* Force table to not be like tables anymore */
     table, thead, tbody, th, td, tr {
         display: block;
     }

     tr {
         max-width: 90vw;
         overflow: auto;
         white-space: nowrap;
     }

     /* Hide table headers (but not display: none;, for accessibility) */
     thead tr {
         position: absolute;
         top: -9999px;
         left: -9999px;
     }

     tr { border: 1px solid #ccc; }

     td {
         /* Behave  like a "row" */
         border: none;
         border-bottom: 1px solid #eee;
         position: relative;
         padding-left: 50%;
     }

     td:before {
         /* Now like a table header */
         position: absolute;
         /* Top/left values mimic padding */
         top: 6px;
         left: 6px;
         width: 45%;
         padding-right: 10px;
         white-space: nowrap;
     }

     {{ table_style|safe }}
 }</style>
{% endblock %}
{% block content %}
<main>
    <h1 class="title">LaTeX generation settings</h1>

    <form action="" method="post" name="processing_settings">
        <section>
            <header>
                <h2>Tickets</h2>
                <small>These are the ticket types I have found within the CSV file. Choose for each one if it gives the participant access to the various event features.</small>
            </header>

            {%for ticket, uid in zip(session['ticket_names'], session['ticket_ids'])%}
            <section>
                <header>
                    <h3>{{ticket}}</h3>
                </header>
                <fieldset>
                    <div class="fieldset-item">
                        <input
                            type="checkbox"
                            checked
                            value="1"
                            id="{{uid}}_visit"
                            name="{{uid}}_visit"
                        >
                        <div class="input-stack">
                            <label for="{{uid}}_visit">
                                <h4>Visit</h4>
                                <small>This ticket includes the visit</small>
                            </label>
                        </div>
                    </div>

                    <div class="fieldset-item">
                        <input
                            type="checkbox"
                            checked
                            value="1"
                            id="{{uid}}_post_visit"
                            name="{{uid}}_post_visit"
                        >
                        <div class="input-stack">
                            <label for="{{uid}}_visit">
                                <h4>Meal/Apéro</h4>
                                <small>This ticket includes the meal/apéro</small>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </section>
            {%endfor%}
        </section>


        <section>
            <header>
                <h2>Event</h2>
                <small>Select what applies to your event</small>
            </header>
            <section>
                <header>
                    <h3>Type of event</h3>
                </header>
                <fieldset>
                    <div class="fieldset-item">
                        <input type="radio" name="event_type_visit" id="event_type_company_visit" value="COMPANY_VISIT" checked/>
                        <div class="input-stack">
                            <label for="event_type_company_visit">
                                <h4>Company visit</h4>
                                <small>e.g. visit a company</small>
                            </label>
                        </div>
                    </div>
                    <div class="fieldset-item">
                        <input type="radio" name="event_type_visit" id="event_type_cultural_visit" value="CULTURAL_VISIT" />
                        <div class="input-stack">
                            <label for="event_type_cultural_visit">
                                <h4>Cultural visit</h4>
                                <small>e.g. visit a museum, a monument or a guided tour of some cultural landmarks</small>
                            </label>
                        </div>
                    </div>
                    <div class="fieldset-item">
                        <input type="radio" name="event_type_visit" id="event_type_tasting" value="TASTING" />
                        <div class="input-stack">
                            <label for="event_type_tasting">
                                <h4>Tasting</h4>
                                <small>e.g. wine tasting, spirit tasting, chocolate tasting</small>
                            </label>
                        </div>
                    </div>
                    <div class="fieldset-item">
                        <input type="radio" name="event_type_visit" id="event_type_networking" value="NETWORKING" />
                        <div class="input-stack">
                            <label for="event_type_networking">
                                <h4>Networking</h4>
                                <small>e.g. networking apéro/dinner</small>
                            </label>
                        </div>
                    </div>
                    <div class="fieldset-item">
                        <input type="radio" name="event_type_visit" id="event_type_other" value="OTHER" />
                        <div class="input-stack">
                            <label for="event_type_other">
                                <h4>Other</h4>
                                <small>Anything that does not fit any other category</small>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </section>
            <section>
                <header>
                    <h3>Meal/Apéro</h3>
                </header>
                <fieldset>
                    <div class="fieldset-item">
                        <input type="radio" name="event_type_post_visit" id="event_food_none" value="NOTHING" checked/>
                        <label for="event_food_none">
                            <h4>No meal/apéro</h4>
                            <small>The event will not have a meal or apéro</small>
                        </label>
                    </div>
                    <div class="fieldset-item">
                        <input type="radio" name="event_type_post_visit" id="event_food_apero" value="APERO" />
                        <label for="event_food_apero">
                            <h4>Apéro</h4>
                            <small>The event will have an apéro</small>
                        </label>
                    </div>
                    <div class="fieldset-item">
                        <input type="radio" name="event_type_post_visit" id="event_food_meal" value="MEAL" />
                        <label for="event_food_dinner">
                            <h4>Dinner</h4>
                            <small>The event will have a meal (lunch, dinner, etc.)</small>
                        </label>
                    </div>
                </fieldset>
            </section>
        </section>

        <section>
            <header>
                <h2>Label</h2>
                <small>Label and LaTeX related settings</small>
            </header>

            <section>
                <header>
                    <h4>Type of label</h4>
                    <small>Size of label in mm and Avery product number</small>
                </header>
                <select id="label_type" name="label_type">
                    {%for label_type, label_name in label_properties%}
                    <option value="{{label_type}}">{{label_name}}</option>
                    {%endfor%}
                </select>
            </section>
        </section>

        <section>
            <div class="field is-grouped">
                <input type="submit" value="Submit">
            </div>
        </section>
    </form>

    <section>
        <header>
        <h1>Processed information</h1>
        <small>Check if the data from the CSV file was parsed correctly.</small>
        </header>

        <div>
            <h3>Participants information</h3>
            {{session['people_csv_html']|safe}}
        </div>
    </section>
</main>
{% endblock %}
