{% extends "layout.html" %}
{% block title %}Parameters for LaTeX generation{% endblock %}
{% block content %}
<main>
    <h1 class="title">Upload an EPFL Alumni CSV file</h1>

    <form method="post" enctype=multipart/form-data action="">
        <section>
            <header>
                <h2>CSV file</h2>
                <small>File exported from the EPFL Alumni event administration page.</small>
            </header>

            <div class="form-group col-md-6">
                {{ form.csrf_token() }}
                {{ form.csv_file }}
                {% if errors %}
                <small class="form-text text-muted ">
                    {% for tag, error in errors %}
                    {% if tag == 'p' %}
                    <p>{{error}}</p>
                    {% elif tag == 'li' %}
                    <ul>
                        {% for item in error %}
                        <li>{{item}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                </small>
                {% else %}
                {% for field, errors in form.errors.items() %}
                <small class="form-text text-muted ">
                    {{ ', '.join(errors) }}
                </small>
                {% endfor %}
                {% endif %}
            </div>
        </section>
        <section>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary")}}
            </div>
        </section>
    </form>
</main>
{% endblock %}
